* {
    margin: 0px;
    box-sizing: border-box;
}

.home {
    font-size: 17px;
}
.home h1 {
    font-size: 24px;
    margin: 10px 20px;
}

.home div {
    background-color: #505081;
    margin: 20px;
    max-width: 600px;
    align-items: center;

}
.home div li {
    display: inline-block;
    color: white;
    align-items: center;
    margin: 20px;
}
.home div li img {
    width: 30%;
    height: auto;
    margin: 20px 20px 0px 0px;
}
span {
    margin-top: auto;
    margin-left: 30px;
}

.homeLink {
    max-width: 75%;
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
}
img {
    width: 70%;
    height: auto;
}
.image {
    max-width: 75%;
    margin: auto;
}
.main h1 {
    text-align: center;
    margin: 20px;
}
.container {
    background-color: #4a4a4a;
    color: black;
    padding: 15px;
    max-width: 75%;
    margin: 20px auto;
}
.container h2 {
    margin-left: 15px;
}
.description,.ingredients,.steps {
    background-color: #FFFFE3;
    color: black;
    padding: 8px;
    border-radius: 24px;
    margin: 30px;
    font-size: 18px;
}